# Terraform
.terraform
.terragrunt-cache
*.tfstate*
crash.log

# Secrets are not allowed in general
*.key
*.pem

# Secrets are encrypted using git-crypt
!secrets/*

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
